/* -----------------Default Styles------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 166rem;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.4rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.4;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  color: grey;
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  font-size: 1.4rem;
  font-weight: 600;
}

/* -----------------Layout Styles------------------ */
header,
main,
aside {
  float: left;
  padding: 2.4rem;
}

header {
  width: 15%;
  height: 100vh;
}

main {
  width: 50%;
}

aside {
  width: 35%;
}

/* -----------------Nav Styles------------------ */
nav li {
  margin-bottom: 1.6rem;
}

input[type='search'] {
  width: 15rem;
  font-size: 1.8rem;
  background: transparent;
  border: none;
  outline: none;
}

.margin-bottom--small {
  margin-bottom: 1.6rem;
}

/* -----------------aside Styles------------------ */
aside li {
  padding: 1.2rem 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

aside li:first-child {
  padding-top: 0;
}

aside a {
  color: inherit;
}
